---
const { title, mobileScreenshot, desktopScreenshot, href } = Astro.props
---

<div>
  <a href={href} class='flex h-full flex-col rounded-xl sm:p-6' aria-label={title}>
    <h3 class='mb-4 text-2xl font-semibold'>
      {title}
    </h3>

    <picture class='max-w-[1000px] rounded-md border'>
      <source srcset={mobileScreenshot} type='image/webp' media='(max-width: 768px)' />
      <source srcset={desktopScreenshot} type='image/webp' media='(min-width: 769px)' />

      <img src='' width='100%' class='mx-auto rounded-md' />
    </picture>
  </a>
</div>
