---
import SectionTitle from './SectionTitle.astro'
import speakersData from '../data/speakers.json'
import { Speaker } from './Speakers.jsx'
---

<SectionTitle id='speakers' title='Speakers' />
<div
  class='max-w-screen-lg mx-auto grid grid-cols-2 md:grid-cols-3 gap-8 px-4 my-8'
>
  {
    speakersData.map(({ img, name, location, flag }, i) => (
      <Speaker id={i} img={img} name={name} location={location} flag={flag} client:visible />
    ))
  }
</div>