---
const { title, name, subtitle, ...rest } = Astro.props
---

<label for={name} class='my-4 block'>
  <span>
    {title}
    {rest.required && <span class='font-bold text-red'>*</span>}
  </span>
  {subtitle && <p class='text-sm leading-tight opacity-80'>{subtitle}</p>}
  <input
    class='mt-2 w-full rounded-lg border p-2 read-only:bg-gray dark:bg-black dark:read-only:bg-gray/10'
    id={name}
    name={name}
    {...rest}
  />
  <span class='text-sm text-red' id={`error-${name}`}></span>
</label>
